<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>HealthyRunss</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">HealthyRunss</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Exercises">Exercises</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="alert alert-info" role="alert">
        <h1> 7-Scientific ways to drop weight - Loose Weight Fast</h1>
    </div>
    <div>
    <div class = "container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/2.jpg" height='400' width='1400' >
    </div>
    <div class="carousel-item">
      <img src="/static/1.jpg" height='400' width='1400'" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/3.jpg" height='400' width='1400'" class="d-block w-100" alt="...">
    </div>
  </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </div>
<div>
<h1>Weight Loss:<h1>
<div class="alert alert-danger" role="alert ">
<h5>
How to Lose Weight in 10 Days: Expert Tips And A 10-Day Diet Plan
Weight Loss: We are all guilty of trying all sorts of diets and fitness tips to lose those extra pounds.HighlightsWe are all guilty of trying all sorts of diets and fitness tipsDon't weigh yourself daily, sometimes it just unecessarily panics youFor next 10 days try to eat maximum meals at home
Weight Loss:If you are trying to lose weight gained during the holidays or to fit back into your bathing suit for the summer, or simply to lead a healthier lifestyle, you know it is a task that needs time and patience. We are all guilty of trying all sorts of diets and fitness tips to lose those extra pounds. While some have been successful in meeting their goals adopting extreme measures, others have struggled and struggled to a point that have made them give up hope. The truth is that losing weight is easy, but only if done in the right manner. You cannot give up midway for lack of instant results. So here are my top 10 secrets to help you achieve your target weight this year, and not just that, these daily practices would also help you lead a healthier life
<h5>
</div>
</div>
<h3><u>Top 7 tips to&nbsp;reboot your body and kick start weight loss</u></h3>

<p><strong>1. Start Your Day With A Workout </strong>Set up your alarm&nbsp;20 minutes early and schedule your workout first thing in the morning. Studies suggest that people who exercise in the morning are relatively slimmer and healthier than the ones who exercise later in the day. Carry the feel good hormones and energy throughout the day by doing your exercise in the morning.</p>
<div class = "container">
<img src = "/static/5.jpg">
</div>
<p><strong> 2.Skip the Scale </strong>Don't weigh yourself daily, sometimes it just unnecessarily panics you and can be demotivating. Also, the scale can be deceiving as it ignores the fact that you might be adding muscle weight. Weigh yourself once a week and ideally in the morning</p>
<div class = "container">
<img src="/static/7.jpg"> 
</div>
<div>
<p><strong>3.Close the kitchen at night </strong>Establish a time when you will stop eating so you won't give in to the late-night munchies or mindless snacking while watching television. "Have a cup of tea, suck on a piece of hard candy or enjoy a small bowl of light ice cream or frozen yogurt if you want something sweet after dinner, but then brush your teeth so you will be less likely to eat or drink anything else," suggests Elaine Magee, MPH, RD, WebMD's "Recipe Doctor" and the author of Comfort Food Makeovers.</p>
</div>
<div class = "container">
<img src="/static/8.jpg">
</div>
<p><strong>4.Go for the Grain. </strong> By substituting whole grains for refined grains like white bread, cakes, cookies, and pretzels, you add much-needed fiber and will fill up faster so you're more likely to eat a reasonable portion. Choose whole-wheat breads and pastas, brown rice, bran flakes, popcorn, and whole-rye crackers.</p>
<div class = "container">
<img src ="/static/9.jpg">
</div>
<p><strong>5. ADD More Steps </strong> Get yourself a pedometer and gradually add more steps until you reach 10,000 per day. Throughout the day, do whatever you can to be more active -- pace while you talk on the phone, take the dog out for an extra walk, and march in place during television commercials. Having a pedometer serves as a constant motivator and reminder.</p>
<div class ="container">
<img src ="/static/10.jpg">
</div>
<p><strong>6. Have Protein at Every Meal and Snack </strong> Adding a source of lean or low-fat protein to each meal and snack will help keep you feeling full longer so you're less likely to overeat. Try low-fat yogurt, small portion of nuts, peanut butter, eggs, beans, or lean meats. Experts also recommend eating small, frequent meals and snacks (every 3-4 hours), to keep your blood sugar levels steady and to avoid overindulging.</p>
<div class ="container">
<img src ="/static/11.jpg">
</div>
<p><strong>7. Switch to Lighter Alternatives. </strong> Whenever you can, use the low-fat versions of salad dressings, mayonnaise, dairy products, and other products. "You can trim calories effortlessly if you use low-fat and lighter products, and if the product is mixed in with other ingredients, no one will ever notice," says Magee. More smart substitutions: Use salsa or hummus as a dip; spread sandwiches with mustard instead of mayo; eat plain roasted sweet potatoes instead of loaded white potatoes; use skim milk instead of cream in your coffee; hold the cheese on sandwiches; and use a little vinaigrette on your salad instead of piling on the creamy dressing.</p>
<div class ="container">
<img src ="/static/12.jpg">
</div>
</div>
<div class="alert alert-primary" role="alert ">
<h3><strong>“It’s not about perfect. It’s about effort. And when you bring that effort every single day, that’s where transformation happens.</strong></h3>
</div>
<div class="carousel-item active ">
      <img src="/static/14.jpg" height='400' width='1300' >
    </div>


<div class="alert alert-success" role="alert ">
<p> Designed and built with all the love in the world by the <strong>HealthyRunss Team @ 2021.</strong>
</div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>

</html>